* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

#left, #right {
    border: 2px dashed white;
    margin: 5%;
    width: 300px;
    min-height: 200px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    height: 60px;
    margin: 30px;
    background-color: white;
    color: black;
}